body {
  margin: 0;
  padding-top: 80px;
}

footer.container {
  padding: 20px 30px 30px;
}

h1 {
  font-family: Bellota;
  margin: 0 0 20px;
}

h2 {
  margin: 0 0 20px;
}

.haven-image {
  background-size: contain;
  background-image: url("../images/projects/haven_web.jpg")
}

.home {
  padding: 50px 30px 80px;
}

.home h3 {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

.home img {
  width: 35%;
}

.intro h2 {
  margin-top: 20px;
}

.navbar {
  background: white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.6px;
  opacity: 0.95;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover {
  background: none;
  box-shadow: none;
  color: black;
  font-weight: 400;
}

.navbar-brand {
  display: none;
  padding: 0;
}

.navbar-brand img {
  margin: 15px;
  width: auto;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}

.project-image {
  width: 100%;
  height: 250px;
}

.section {
  padding: 80px 30px 30px;
}

.snapmap-image {
  background: url("../images/projects/snapmap.jpg") no-repeat center top;
}

.team-member {
  margin-bottom: 30px;
}

.team-member div {
  float: left;
}

.team-member h3, h4 {
  line-height: 1.2;
  margin-top: 0;
}

.team-member h4 {
  color: #777;
}

.team-member .links a {
  color: #448AFF;
  font-size: 24px;
  margin-right: 5px;
  text-decoration: none;
}

.team-member .personality a {
  color: black;
}

.team-member .personality span {
  border-left: 1px solid;
  padding: 0 7px;
}

.team-member .personality span:first-child {
  border: none;
  padding-left: 0;
}

.team-member.blue img {
  border: 3px solid #00E5FF;
}

.team-member.red img {
  border: 3px solid #FF4081;
}

.team-member.yellow img {
  border: 3px solid #FFEA00;
}

.top {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 10%, #eff4f4 100%);
  background: -webkit-linear-gradient(top, #ffffff 10%,#eff4f4 100%);
  background: linear-gradient(to bottom, #ffffff 10%,#eff4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff4f4',GradientType=0 );
}

.top h1 {
  font-size: 3em;
}

.troop-image {
  background-size: cover;
  background-image: url("../images/projects/troop.jpg");
}

/* SMALL */
@media(min-width:768px) {
  body {
    padding-top: 100px;
  }

  footer.container {
    padding: 20px 0 30px;
  }

  .home h3 {
    font-size: 24px;
  }

  .home img {
    width: 25%;
  }

  .intro h2 {
    margin-top: 0;
  }

  .navbar-brand {
    display: block;
  }

  .navbar-brand img {
    height: 100%;
  }

  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }

  .section {
    padding: 110px 0 30px;
  }
}

/* MEDIUM */
@media(min-width:992px) {

}

/* LARGE */
@media(min-width:1200px) {

}

@font-face {
  font-family: Bellota;
  src: url("fonts/Bellota-Regular.otf") format("opentype");
}