body {
	margin: 0px;
  padding-top: 80px;
}

footer {
  padding: 30px 0;
}

h1 {
  margin: 0 0 20px;
}

h2 {
  margin-bottom: 30px;
}

.navbar {
  background: white;
  opacity: 0.85;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}

.intro img {
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: 250px;
}

.snapmap-image {
  background: url("../images/projects/snapmap.jpg") no-repeat center top;
}

.troop-image {
  background-size: cover;
  background-image: url("../images/projects/troop.jpg");
}

.haven-image {
  background-size: contain;
  background-image: url("../images/projects/haven_web.jpg")
}

.team-member {
  margin-bottom: 30px;
}

.team-member div {
  float: left;
}

.team-member .personality span {
  border-left: 1px solid;
  padding: 0 7px;
}

.team-member .personality span:first-child {
  border: none;
  padding-left: 0;
}

.team-member .personality a {
  color: black;
}

.team-member h4 {
  color: #777;
}

.team-member h3, h4 {
  line-height: 1.2;
  margin-top: 0;
}

.team-member .links a {
  color: #448AFF;
  font-size: 24px;
  margin-right: 5px;
  text-decoration: none;
}

.team-member.red img {
  border: 3px solid #FF4081;
}

.team-member.yellow img {
  border: 3px solid #FFEA00;
}

.team-member.blue img {
  border: 3px solid #00E5FF;
}

/* SMALL */
@media(min-width:768px) {
  body {
    padding-top: 100px;
  }

  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }
}

/* MEDIUM */
@media(min-width:992px) {

}

/* LARGE */
@media(min-width:1200px) {

}